{% extends "base.html" %}
{% block content %}
<div class="container my-5 d-flex flex-wrap gap-3">
  {% for student in students %}
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <img src="{{student.image.url}}" class="card-img-top" alt="Empty">
        <h5 class="card-title">{{ student.name }}</h5>
        <p class="card-text">{{student.Email}}</p>
        <a href="{% url "update_student" student.id %}" 
        class="btn btn-primary">Update</a>
        <a href="{% url "delete_student" student.id %}"
         class="btn btn-danger">Delete</a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
